#arkaplan {
    background-image: url(images/arkaplan.jpg), url(images/arkaplan.jpg);
    /*background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;*/
}

.kutu {
    width: 100%;
    height: 100%;
    background-color: gray;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.text-holder {
    height: 0px;
    max-width: 100%;
    margin: 0px;
    padding: 100px
}

.entry-header {
    margin: auto;
}

.img {
    padding: 50px;
}

